html
head
   title User registration
   body
      form(action = "/register", method = "POST")
         div
            label(for = "name") Username: 
            input(name = "name")
         br
         div
            label(for = "password") Password: 
            input(name = "password")
         br
         div
            label(for = "address") Address: 
            input(name = "address")
         br
         button(type = "submit") Create new user